body {
    background-image: url(../assets/mountains-explorer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin: 6.3rem 10.2rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #E1E1E6;
    width: 64.8rem;
}

h1 {   
    
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #E1E1E6;
    margin: 6.3rem 0 1.6rem;
}

nav a:nth-child(4){
    font-weight: 700;
    color: #fff;
}