body {
    background-image: url(../assets/mountains-universe.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin: 63px 102px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */


    /* Platform Aliases/Títulos */

    color: #E1E1E6;
    width: 648px;
}

h1 {
    
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #E1E1E6;
    margin-bottom: 63px 16px;
}
a{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
    
    color: #C4C4CC;

}
nav a:nth-child(3){
    font-weight: 700;
    color: #fff;
}